h1{

    font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.images{
    border: solid 1px #01579b;
    border-radius: 3px;
    width: 500px;
}
@media (max-width: 426px) {
  .images{
  
    width: 400px;
}
}